@import url('https://fonts.cdnfonts.com/css/poppins');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .darkM {
        background: #111517;
    }
    .light {
        background: white;
    }
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    @apply light dark:darkM dark:text-white font-light
}
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: -100; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}
#tsparticles2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}